<div class="task-board">
  <div class="task-input">
    <input type="text" [(ngModel)]="newTaskTitle"
           placeholder="Add a new task..." (keyup.enter)="addTask()" />
    <button (click)="addTask()"> Add</button>
  </div>

  <div class="board">
    <app-note></app-note>
    
    <app-task-list [status]="'To Do'" [tasks]="tasks" 
    (updateTaskStatus)="updateTaskStatus($event)"></app-task-list>
    <app-task-list [status]="'Doing'" [tasks]="tasks" (updateTaskStatus)="updateTaskStatus($event)"></app-task-list>
    <app-task-list [status]="'Done'" [tasks]="tasks" (updateTaskStatus)="updateTaskStatus($event)"></app-task-list>
  </div>
</div>
